@font-face {
    font-family: 'BodyText';
    src: url('fonts/Roboto-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: BodyText;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
	min-width:400px;
}

a {
	text-decoration: none;
	color: #0a5382;
	line-height: 1.1em;
	display:block;
}
a:hover {
	color: #0099ff;
}



li {

	margin-bottom:6px;
}

span {
	display:block;
	font-size: 10pt;
	line-height: 1.2em;
}

.url { color: #666; }
.date { color: #999; }


